<p>
  This is our first component, nested inside of a the root
  component AKA app.component.ts<br>

  Components are entities in angular that manage parts of a
  webpage or view.<br>

  There are typescript classes decorated with <code>@component</code>
  which allow us to tightly bind code with a view.<br>

  We can use the Angular CLI to generate components with the
  <code>ng generate component</code> command.<br>
  Below, we will discuss various topics about angular <b>Data Binding</b>.
</p>
