<p>
  This is the first component nested inside of the app component.
  
  components are enties in angular that manage
  parts of a webpages or view.

  We can generate components with <code>ng gc [name]</code>
</p>

<hr>


<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<h4>Data Binding</h4>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <app-data-binding></app-data-binding>

  </div>
</div>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Button with data-target
    </button>
  </p>
  <h4>Data Binding</h4>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
      <app-directives></app-directives>
    </div>
  </div>

  <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
        Button with data-target
      </button>
    </p>
    <h4>Data Binding</h4>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <app-data-binding></app-data-binding>
    
      </div>
    </div>