<div style="margin: auto; width: 50%" class="jumbostron jumbotron-fluid">
        <h2><b>Add Reimbursement</b></h2>
        Reimbursement Amount: 
        <input type="number" id="amount" placeholder="Amount" class="form-control col-3">
        Reimbursement Description: 
        <input type="text" id="description" placeholder="Description" class="form-control col-3">
        Type of Reimbursement <br>
        <input type="radio" name="type" value="1">Lodging <br>
        <input type="radio" name="type" value="2">Travel <br>
        <input type="radio" name="type" value="3">Food <br>
        <input type="radio" name="type" value="4">Other <br>
        <button id="submitReim" class="btn btn-success btn-large">Submit Reimbursement</button>
    </div>