<table class="table" id="managerTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Time Submitted</th>
                <th scope="col">Time Resolved</th>
                <th scope="col">Description</th>
                <th scope="col" id="status">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Approve or Deny</th>
            </tr>
        </thead>
        <tbody id="managerBody"> </tbody>
    </table>
    <button id="managerLogOut" class="btn btn-success">Log Out</button>