* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5px;
    border: solid black 1px;
}

td,
th {
    /* No more visible border */
    border: 1px solid black;
    height: fit-content;
    /* Simple transition for hover effect */
    transition: all 0.3s;
    text-align: center;
    padding: 5px;
}

th {
    background: #DFDFDF;
    /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
    background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
    background: #FEFEFE;
}

/* Hover cell effect! */
tr:hover td {
    background: #312b2b;
    color: #FFF;
}

.view-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.view {
    display: flexbox;
    padding: 25px;
    margin: 25px;
    border: solid black 5px;
    border-radius: 10px;

}