<div class='jumbotron'><br>
	<h1>Welcome, <span id="name"></span></h1><br>
		<div class='container'>
			<button id='reqReimb' class='btn btn-submit'>Request Reimbursement</button>
			<div id="reimbView"></div>
				<table class='table'>
					<thead>
						<tr>
							<th>Author</th>
							<th>Reimbursement ID</th>
							<th>Amount</th>
							<th>Type</th>
							<th>Time Submitted</th>
							<th>Time Resolved</th>
							<th>Resolver</th>
						</tr>
					</thead>
					<tbody id="tabledata">
					</tbody>
				</table>
		</div>
</div>