<div class='jumbotron'><br>
	<h1>Welcome, <span id="name"></span></h1><br>
		<div class='container'>
			<button id='reqReimb' class='btn btn-submit'>Request Reimbursement</button><br>
			<div id="reimbView"></div>
			
			<button id='resolveReimb' class='btn btn-submit'>Resolve Reimbursement</button><br>
			<div id="resolveView"></div>
				<table class='table'>
					<thead>
						<tr>
							<th>Author</th>
							<th>ReimbursementId</th>
							<th>Amount</th>
							<th>Type</th>
							<th>Description</th>
							<th>Time Submitted</th>
							<th>Time Resolved</th>
							<th>Resolver</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="tableData">
					
					</tbody>
				</table>
		</div>
</div>