<div class="jumbotron" id="submitUserDiv">
	<input type="text" id="username" placeholder="Username" class="form-control col-3">
    <input type="password" id="password" Placeholder="Password" class="form-control col-3"><br>
    <input type="text" id="fn" placeholder="First Name" class="form-control col-3">
    <input type="text" id="ln" placeholder="Last Name" class="form-control col-3">
    <input type="text" id="email" placeholder="Email" class="form-control col-3">
    
    <button class="btn btn-primary" id="addUser">Add User!</button>
    <button class="btn btn-primary" id="addManager">Add Manager!</button>
    <span id="goToLogin"><i>Back to Login...</i></span>
</div>
