<h4>Register!</h4>
<input class="form-control col-6" type="text" id="fn" placeholder="Firstname">
<input class="form-control col-6" type="text" id="ln" placeholder="Lastname">
<input class="form-control col-6" type="text" id="un" placeholder="Username">
<input class="form-control col-6" type="text" id="em" placeholder="Email">
<input class="form-control col-6" type="password" id="pw" placeholder="Password">

<button class="btn btn-secondary" id="newUser">Register</button>
<a href="login">
  <button class="btn btn-secondary" id="login">Already have an Account?</button>
</a>