/******************************************************************************
    BELOW ARE THE BASIC SELECTORS!
*******************************************************************************/

/*
    TYPE SELECTOR - SELECTS ALL ELEMENTS THAT MATCHES THE GIVEN TYPE
*/
#example_1 h1 {
    color:red;
}

/*
    CLASS SELECTOR - SELECTS ALL ELEMENTS THAT CORRESPONDS TO THE GIVEN CLASS ATTRIBUTE
*/
#example_2 .class_selector {
    color: red;
}

/*
    ID SELECTOR - SELECTS ALL ELEMENTS THAT CORRESPONDS TO THE GIVEN CLASS ATTRIBUTE
*/
#example_3 #id_selector {
    color: red;
}

/*
    UNIVERSAL SELECT - SELECTS ALL ELEMENTS
*/
#example_4 * {
    color: red;
}

/*
    ATTRIBUTE SELECTOR - THE EXAMPLE BELOW IS ONLY A SMALL TASTE OF THE POWER YOU MAY WIELD.

    SEE https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors
    FOR A COMPREHENSIVE DOCUMENT ON THE SYNTAX OF ATTRIBUTE SELECTORS!
*/
#example_5 li[value="2"] {
    color: red
}

/*******************************************************************************
    BELOW ARE COMBINATORS, NOT SELECTORS...THEY REALLY AREN'T A SINGLE SELECTOR.
*******************************************************************************/

/*
    ADJACENT SIBLING COMBINATORS - IT'S NOT REALLY ONE SELECTOR. IT'S A COMBINATION OF TWO...

    THE EXAMPLE BELOW WORKS LIKE THIS:
        1) FIND HEADING-4
        2) SELECT FIRST PARAGRAPH PROCEDING HEADING-4
*/
#example_6 h4 + p{
    color:red;
}

/*
    GENERAL SIBLING COMBINATORS - THE ELEMENTS FOLLOWING THE FIRST ARE SELECTED
    IN THIS EXAMPLE, PARAGRAPH ELEMENTS FOLLOWING HEADING-5 ARE SELECTED.
*/
#example_7 h5 ~ p {
    color: red;
}

/*
    CHILD COMBINATOR - THE ELEMENTS THAT ARE THE DIRECT CHILDREN OF THE FIRST ELEMENT ARE SELECTED.
    IN THIS EXAMPLE, ONLY THE PARAGRAPHS NESTED IN DIV ARE SELECTED - NOT THE PARAGRAPHS
    OUTSIDE THE DIV.
*/
#example_8 div > p {
    color: red;
}

/*
    DIRECT DESCENDANT COMBINATOR - FREQUENTLY USED TO GET ELEMENTS NESTED WITHIN ELEMENTS...
    VERY FREQUENTLY USED. YOU CAN PROBABLY DO EVERYTHING WITH ONLY THE BASIC SELECTORS AND THIS ONE COMBINATOR.
*/
#example_9 div ul li {
    color: red;
}

/*******************************************************************************

    THERE'S ALSO SOMETHING CALLED COLUMN COMBINATOR USED FOR HTML TABLES...
    BUT I'M NOT PUTTING THAT UP BECAUSE TABLES ARE KINDA... NOT IN USE ANYMORE.

    THERE'S VARIOUS REASONS WHICH YOU CAN READ HERE: 
    https://stackoverflow.com/questions/83073/why-not-use-tables-for-layout-in-html

    BUT REALLY, I SINCERELY DOUBT YOU WILL NEED THE COLUMN COMBINATOR.

    ----------------------------------------------------------------------------

    LET'S GET INTO SOMETHING MORE USEFUL! PSEUDO-CLASSES!

    PSEUDO-CLASSES SELECTS ELEMENTS BASED ON THEIR STATES, WHICH IS INFORMATION
    NOT CONTAINED IN THE DOCUMENT TREE (SEE HTML DOM FOR MORE INFO). 

    THERE'S TOO MANY PSEUDOCLASSES TO GO OVER, SO LET'S GO OVER THE MOST USEFUL ONES...
    *******************************************************************************/

/*
    NTH-CHILD PSEUDOCLASS:
    WITHIN THE PARANTHESIS, IT TAKES IN A SINGLE ARGUMENT.
    IT CAN TAKE IN A KEYWORD VALUE "EVEN" OR "ODD"
    OR IT CAN TAKE A FUNCTIONAL NOTATION IN THE FORM OF <AN+B>

    THE FUNCTIONAL NOTATION CAN BE READ AS:
    SELECT EVERY A'TH ELEMENT STARTING WITH B.

    IN THE EXAMPLE BELOW, THE FUNCTIONAL NOTATION CAN BE READ AS:
    SELECT EVERY 2ND ELEMENT STARTING WITH 5.

    WORTH NOTING THERE IS A FIRST-CHILD AND LAST-CHILD PSEUDOCLASS,
    BUT THIS PARTICULAR PSEUDOCLASS IS POWERFUL ENOUGH TO REPLACE BOTH.
*/
#example_10 ol li:nth-child(2n + 5){
    color: red;
}