<div class="jumbotron">
  <h3><i>Angular supports data binding which is a 
    mechanism for coordinating parts of a template (HTML)
    with parts of a component(TS)
  </i></h3>

  <br>
  <h5>String interpolation</h5>
  String interpolation uses double curly braces to display
  data represented in the component or to evaluate expressions 
   <br><br>
  Text from component : {{ text }}
  <br>
  Boolean value : {{ bool }}
  <br>
  Expressions : {{ count > 0? 'yes' : 'no'}}
  <br>
  Math: {{ 192409/7 }}
</div>
