<div class="jumbotron">
    <h4>Request an Account!</h4>
    <input class="form-control col-6" type="text" id="fn" placeholder="Firstname">
    <input class="form-control col-6" type="text" id="ln" placeholder="Lastname">
    <input class="form-control col-6" type="text" id="un" placeholder="Username"><span id="un-error"></span>
    <input class="form-control col-6" type="password" id="pw" placeholder="Password">
    
    <button class="btn btn-secondary" id="newUser">Register</button>
    <button class="btn btn-secondary" id="login">Already have an Account?</button>
</div>

