<div class="jumbotron vertical-center">
<div class="container">
<div class="row">
<label class="col-2 pb-1 loginLabel">Username</label>
<input class="col-10 form-control loginInput" name="username" placeholder="Enter username">
</div>
<div class="row my-3">
<label class="col-2 pb-1 loginLabel">Password</label>
<input type="password" class="col-10 form-control loginInput" name="password" placeholder="Password">
</div>
<div class="text-center">
<button id="login" class="btn btn-warning btn-lg mx-auto">Submit</button>
</div>
<div id="error_message"></div>
</div>
</div>