/* You can add global styles to this file, and also import other style files */

app-root .custom {
    display: flex;
    flex-direction: column;
    align-content: center;
}

app-root .custom-flexbox {
    display: -ms-flexbox;
    border: solid black;
    border-radius: 25px;
    padding: 25px;
    margin: 5px;
}

input {
    margin: 5px;
}