body {
    height: auto;
    margin: 10px;
    background-color: rgb(248, 239, 213);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #181818;
    font-weight: 500;
}

h1 {
    color: rgb(110, 32, 32);
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px #adaaaa;
}

h2 {
    color: rgba(0, 0, 0, 0.801);
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}

.inputs {
    margin: 0 auto;
}

.qAndA {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: auto;
}

#question-buttons {
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #adaaaa ;
}

#number-input {
    margin-right: 50px;
    box-shadow: 1px 1px #534f4f;
}

#string-input {
    box-shadow: 1px 1px #534f4f;
}

#time {
    text-align: right;
    color: rgb(110, 32, 32);
    font-size: 20px;
}

.ghost-button {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    height: 20px;
    line-height: 25px;
    padding: 8px;
    color: #181818;
    background-color: transparent;
    border: 2px solid #181818;
    text-align: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: rgb(110, 32, 32);
  border-color: rgb(110, 32, 32);
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
