<p>
  This is the home component that is nested inside of the root component! Woop Woop! 

  This is the time of creation: {{myDate | date:("EE, HH :  MM : SS")}}
</p>

<hr>
Below, we will discuss various topics about angular 

<p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
        <h4 appHighlight>Data Binding</h4>
    </button>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      <h4>Directives</h4>
  </button>
  </p>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
        <app-directives></app-directives>
    </div>
  </div>

  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
        <app-data-binding></app-data-binding>
    </div>
  </div>
