<div class="jumbotron">
    <div class="container col-6 form-group" id="registerForm">
        <h3>Register</h3>
        <input class="form-control" type="text" 
            id="fn" placeholder="First Name"> <br>
        <input class="form-control" type="text" 
            id="ln" placeholder="Last Name"> <br>
        <input class="form-control" type="text" 
            id="uname" placeholder="Username"> <br>
        <input class="form-control" type="password" 
            id="pass" placeholder="Password"> <br>
        <button class="btn btn-submit" id="register">Join Bank!</button>
    </div>

    <hr>

    <div class="container col-6 form-group" id="loginForm">
            <h3>Log In</h3>
            <input class="form-control" type="text" 
                id="unamelog" placeholder="Username"> <br>
            <input class="form-control" type="password" 
                id="passlog" placeholder="Password"> <br>
            <button class="btn btn-submit" id="login">Log In!</button>
    </div>

</div>