<div class="jumbotron">
  <h1>Understanding HTTP requests with Angular</h1>
  <br>
  <i>Most front-end applications communicate with backend
    services over HTTP. One common approach to asynchronous
    requests and responses with Angular is to use Observables 
    and the HttpClientModule </i>
<br><hr><br>

<h3>So what are <a href="https://developer.telerik.com/topics/web-development/introduction-observables-angular-developers/">Observables</a>?</h3>
<br>
Obserables are arrays whose items arrive asynchronously over time. Obserables
help you manage asynchronous data, such as data coming from a backend service. Obserables are
used within Angular iself, including its event system and http client service. To use observables, Angular 
uses a third-party library called <a href="https://www.learnrxjs.io/">Reactive Extensions (RxJs)</a>.
</div>

<hr>
<br>
<h3>Demo</h3>
Get all users:
<ol>
  <li *ngFor="let u of users">{{ u.firstName}} {{u.lastName}} </li>
</ol>

<form action="/action_page.php" class="mx-3">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>