<p>
  This is our first component, nested inside of
  the root component AKA app.component.ts

  Components are entities in angular that manage
  parts of a webpage or view.

  The are typescript classes decorated with <code>@Component</code>
  which allow us to tightly bind code with a view

  We can use the Angular CLI to generate components
  with the <code>ng g c [name]</code> command


</p>
<hr>
Below, we will discuss various topics about angular

<p>

  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
    aria-controls="collapseExample">
    <h4>Data Binding</h4>
  </button>
</p>
<p>
  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#directives" aria-expanded="false"
    aria-controls="collapseExample">
    <h4>Directives</h4>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <app-data-binding></app-data-binding>
  </div>
</div>
<div class="collapse" id="directives">
  <div class="card card-body">
    <app-directives></app-directives>
  </div>
</div>