<p>
  This is our first component, nested inside of 
  the root component AKA app.component.ts 

  Components are entities in angular that manage
  parts of a webpage or view. 

  The are typescript classes decorated with <code>@Component</code>
  which allow us to tightly bind code with a view  

  We can use the Angular CLI to generate components 
  with the <code>ng g c [name]</code> command

  
</p>
<hr>
Below, we will discuss various topics about angular 
<h4>Data Binding</h4>
<app-data-binding></app-data-binding>