<div class="jumbotron">
    <div class="container col-6 form-group" id="submitUserDiv">
        <h3>Log In</h3>
        <div class="alert alert-info col-4" id="message"></div>
        <input type="text" id="username" class="form-control col-4" placeholder="Username">
        <input type="password" id="pass" class="form-control col-4" placeholder="Password">
        <button class="btn btn-submit" id="login">Log In</button>
        <button class="btn btn-submit" id="createUser">Create User</button>
        <br>
        <button id="gotosubmit" type="button" class="btn btn-link">
            <i>Not a User? Create an Account here</i>
        </button>
    </div>
</div>