<div class="jumbotron">
    <div class="container col-6 form-group" id="submitUserDiv">
        <h3>Register</h3>
        <div class="alert alert-info col-4" id="message"></div>
        <input type="text" id="firstname" class="form-control col-4" placeholder="First Name">
        <input type="text" id="lastname" class="form-control col-4" placeholder="Last Name">
        <input type="text" id="username" class="form-control col-4" placeholder="Username">
        <input type="password" id="pass" class="form-control col-4" placeholder="Password">
        <input type="password" id="confirmpass" class="form-control col-4" placeholder="Confirm Password">
        <button class="btn btn-submit" id="register">Register</button>
        <button class="btn btn-submit" id="gologin">Log In</button>
        <br>
        <button id="gotoreg" type="button" class="btn btn-link">
            <i>Already a user? Login here</i>
        </button>
    </div>
</div>