<h3 id="welcome"></h3>
<p id="info">
    WoopWoop
</p>
<div class="container-fluid">
    <div class="col-7-offset-2">
        <button class="btn btn-secondary" id="reviewReimb">Review reimbursements</button>
        <div class="my-5" id="options">
            <h3>Review submitted Reimbursements</h3>
            <table id="reimbs" class="table table-striped">
                <thead>
                    <tr>
                        <td>Author Id</td>
                        <td>Reimburesment Amount</td>
                        <td>Reimbursement Type</td>
                        <td>Reimbursement Description</td>
                        <td>Date Submitted</td>
                    </tr>
                </thead>
                <tbody id="data">

                </tbody>
            </table>
        </div>
    </div>
</div>