<div class="card bg-dark mb-3 w-50 text-center">
  <div class="card-body">
    <div class="card-title align-content-center">
      <h4>Request an Account!</h4>
      <h6>If your email address matches one on record, you will be sent a temporary password.</h6>
      <input class="form-control" type="text" id="fn" placeholder="Firstname">
      <input class="form-control" type="text" id="ln" placeholder="Lastname">
      <input class="form-control" type="text" id="un" placeholder="Username"><span id="un-error"></span>
      <input class="form-control" type="text" id="em" placeholder="Email"><span id="em-error"></span>
    </div>
    <button class="btn btn-secondary" id="newUser">Request Account</button>
    <button class="btn btn-secondary" id="login">Already have an Account?</button>
  </div>
</div>

