<h4>Request an Account!</h4>
<input class="form-control col-6" type="text" id="fn" placeholder="Firstname">
<input class="form-control col-6" type="text" id="ln" placeholder="Lastname">
<input class="form-control col-6" type="text" id="un" placeholder="Username"><span id="un-error"></span>
<input class="form-control col-6" type="text" id="em" placeholder="Email"><span id="em-error"></span>
<input class="form-control col-6" type="text" id="pw" placeholder="Password">
<p><i>What is your current role?</i></p>
<div class="form-check">
    <input type="radio" class="form-check-input" id="rle" name="roles">
    <label class="form-check-label" for="rle" id="rlelabel">Employee</label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="rlf" name="roles">
    <label class="form-check-label" for="rlf" id="rlflabel">Finance Manager</label>
  </div>

<button class="btn btn-secondary" id="newUser">Request Account</button>
<button class="btn btn-secondary" id="login">Already have an Account?</button>