<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler mx-5" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mx-5"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active mx-5 my-4">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-2 my-3">
        <a appHighlight class="nav-link" href="directives">Directives</a>
        <hr>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="databinding">DataBinding</a>
      </li>
      <li class="nav-item active mx-5 my-4">
        <a class="nav-link" href="http">Http<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown mx-0 my-5">
        <a appHighlight class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Banking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="login">Login</a>
          <a class="dropdown-item" href="register">Register</a>
        </div>
      </li>
    </ul>
  </div>
  <hr>
</nav>