<div>

<h1>User Home</h1>

<br>
<br>

<h2>Add Reimbursement Request</h2>
<hr>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Reimbursement Amount</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="reimbamount" placeholder="$">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Reimbursement Description</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="reimbdesc" placeholder="Description">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Reimbursement Type</div>
    <div class="col-sm-10">
      <div class="form-check" id="reimbtype">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        Travel
        </label>
        <br>
        <input class="form-check-input" type="checkbox" id="gridCheck2">
        <label class="form-check-label" for="gridCheck2">
        Supplies
        </label>
        <br>
        <input class="form-check-input" type="checkbox" id="gridCheck3">
        <label class="form-check-label" for="gridCheck3">
        Other
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" id="rSubmit" class="btn btn-primary">Submit Reimbursement Request</button>
    </div>
  </div>
</form>

<br>
<br>
<br>


<h2>Reimbursement Status'</h2>
<hr>




</div>