<div class="jumbotron">
	<h3>Fill out the following information for your reimbursement request:</h3>
	<br>
	<input type="number" step="0.01" id="amount" placeholder="0.00"> <br> <br>
	<textarea id="description" placeholder="Description..."> </textarea> <br> <br>
	<select id="type">
		<option value=1>Lodging</option>
		<option value=2>Food</option>
		<option value=3>Travel</option>
		<option value=4>Supplies</option>
		<option value=5>Damages</option>
		<option value=6>Other</option>
	</select>
	<br>
	<button id="add" class="btn btn-submit">Submit Request</button>
	<br> <span id="home">To return to Main Menu click here</span>
</div>