<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>hello-servlets</display-name>
  <context-param>
    <param-name>Env</param-name>
    <param-value>This value is avalable in all servlets</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.revature.servlets.TestServlet</servlet-class>
    <init-param>
      <param-name>secret</param-name>
      <param-value>Top secret</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>